body {
	background-image: url("../fundos/tile.jpg");
	background-repeat: repeat-y;
	background-size: cover;
}

#paragrafos {
	background-color: red;
}

.subDiv {
	background-color: blue;
}


#principal {
	color: brown;
}

#titulo {
	color: blue;
}

.texto_verde {
	color: green;
}

#cm {
	background-color: blue;
	width: 1cm;
	height: 1cm;
}

#mm {
	background-color: red;
	width: 1mm;
	height: 1mm;
}

#in {
	background-color: blue;
	width: 1in;
	height: 1in;
}

#px {
	background-color: red;
	width: 1px;
	height: 1px;
}

#pt {
	background-color: blue;
	width: 1pt;
	height: 1pt;
}

#pc {
	background-color: red;
	width: 1pc;
	height: 1pc;
}